@import 'tailwindcss';
@plugin './hero.js';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
  --background: #ffffff;
  --background-2: #fafafa;
  --sidebar-clr: #f4f4f5;
  --primary-clr: #006FEE;
  --primary-clr-2: #2a2185;
  --text-clr: #18181b;
  --text-clr2: #27272a;
  --help-clr : #f5a524 ;
  --muted-text-clr: #3f3f46;
  --border-2: #11181c;
  --font: montserrat;
  --tran-01: all 0.2s ease;
  --tran-02: all 0.3s ease;
  --tran-03: all 0.4s ease;
  --tran-04: all 0.5s ease;
}

.dark {
  --background: #180828;
  --background-2: #001731;
  --sidebar-clr: #27272a;
  --text-clr: #ffffff;
  --text-clr2: #f4f4f5;
  --muted-text-clr: #e4e4e7;
  --border-2: rgba(17, 17, 17, 0.15);
}
.dark {
  background-color: #180828 !important;
  color: #ffffff;
}
.bg_back-1 {
  background-color: var(--background);
  color: var(--text-clr)
}
.bg_back-2 {
  background-color: var(--background-2);
  color : var(--text-clr2)
}
.text_clr-1 {
  color: var(--text-clr);
}
.text_clr-2 {
  color: var(--text-clr2);
}
.nav-clr {
  background-color: var(--sidebar-clr) !important;
  color: var(--text-clr) !important;
}

.swiper-button-prev::after {
  font-size: 30px !important;
  color: gray !important;
}
.swiper-button-next::after {
  font-size: 30px !important;
  color: gray !important;
}

.category_link {
  @apply text-[14px] text-gray-700 dark:text-gray-50  py-2 w-full pl-3 border-b-[0.5px] border-gray-800 dark:border-gray-300;
}

.carousel-container {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 1rem;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.category_card {
  background: #fff;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  width: 12rem;
  /* height: 15rem; */
  transition: all ease-in-out 0.3s;
}

.category_card:hover {
  background: #2a2185;
  color: #fff;
}

.bg_hover {
  transition: all ease-in-out 0.3s;
}
.bg_hover:hover {
  background-color: #e5e7eb;
}

.display_grid {
  display: grid;
  grid-template-columns: 20% 1fr;
  row-gap: 4px;
}
